.git
.gitignore
.dockerignore

__pycache__/
*.pyc
*.pyo
*.pyd

.mypy_cache/
.pytest_cache/

.env
.env.*

media/
staticfiles/

node_modules/

*.log
*.sqlite3

.vscode/
.idea/

Dockerfile
docker-compose.yml
