.git
.gitignore
.dockerignore

__pycache__/
*.pyc
*.pyo
*.pyd

.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

.env
.env.*

media/
staticfiles/
pgdata/

node_modules/

*.log
*.sqlite3

.vscode/
.idea/

Dockerfile
docker-compose*.yml

README.md
docs/

# Python virtual envs
.venv/
venv/
env/
