{% if google_tag_manager_id %}
<script>
// Basic consent mode: do not request GTM/GA4 until the visitor opts in.
// Operational contact references are independent of advertising cookies.
window.vddMarketingAnalyticsGranted = false;
try { window.vddMarketingAnalyticsGranted = localStorage.getItem('vdd_analytics_permission') === 'yes'; }
catch (_) {}
</script>
<!-- Google Tag Manager: only after analytics opt-in -->
<script>
if (window.vddMarketingAnalyticsGranted) {
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ google_tag_manager_id|escapejs }}');
}
</script>
<!-- End Google Tag Manager -->
{% endif %}
