<style>
    :root {
        /* Sobrescrevendo as cores primárias do Unfold com as cores do Tenant */
        --color-primary-50: {{ tenant_brand.primary_color }}10;
        --color-primary-100: {{ tenant_brand.primary_color }}20;
        --color-primary-200: {{ tenant_brand.primary_color }}40;
        --color-primary-300: {{ tenant_brand.primary_color }}60;
        --color-primary-400: {{ tenant_brand.primary_color }}80;
        --color-primary-500: {{ tenant_brand.primary_color }};
        --color-primary-600: {{ tenant_brand.primary_color }};
        --color-primary-700: {{ tenant_brand.primary_color }};
        --color-primary-800: {{ tenant_brand.primary_color }};
        --color-primary-900: {{ tenant_brand.primary_color }};
    }

    /* Ajuste de contraste para o texto no sidebar se necessário */
    .unfold-sidebar {
        background-color: {{ tenant_brand.secondary_color|default:"#1e293b" }} !important;
    }
    
    /* Logo customizada no topo do admin */
    {% if tenant_brand.logo %}
    .unfold-navbar-logo {
        background-image: url("{{ tenant_brand.logo.url }}") !important;
        background-size: contain;
        background-repeat: no-repeat;
        width: 120px;
        height: 32px;
    }
    {% endif %}
</style>
